.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 1800px;  
    margin: 0 auto;
}
.name { position: absolute; 
    top: 25%;  
    color: #e5d4c7; 
    height: max-content; 
    size: 100px; 
    font-size: 140px; 
    font-weight: normal; 
    letter-spacing: 2px; 
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
     font-family: 'Allura',cursive; 
     width: 1800px;
    text-align: left;
    left :150px;
    
     }
/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    background-color: rgb(181, 146, 49);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0;
    font-size: 40px;
    text-align: center;
}
.nameabout 
{
    position: absolute;
    top: 25%;
    left: 50%;                 
    transform: translateX(-50%); 
    color: #e5d4c7;
    font-size: 140px;
    font-weight: normal;
    letter-spacing: 2px;
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
    font-family: 'Allura', cursive;
    width: auto;                
    max-width: 1800px;            
    text-align:right;      
}


.random {
    position: relative;
    width: 100%;
    max-width: 1800px;
    height: 1800px;  
    margin: 0 auto;
}

.random .bg-img {
    width: 100%;
    max-width: 1800px;
    height: 100%;
    object-fit: cover;  
}

.random .menu-img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 1200px;
    height: auto;
}

.random .logo-img {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 600px;
    height: auto;
}
.product-link {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    background-color: rgba(181, 146, 49, 0.9);
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 50px auto;   
    text-align: center;
}

.navbar {
    text-align: center;
    background-color: rgb(181, 146, 49);
    height: 120px;
    line-height: 80px;
    margin: 0 auto;
    width: 100%;
    max-width: 1800px;
    position: relative;
}

.nav-logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-logo img {
    height: 100px;
    width: auto; 
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 36px;
    margin: 0 20px;
    vertical-align: middle;
}

.navbar a:hover {
    color: #f5d283;
}


.product-container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f5f0;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-item img 
{
    width: 900px;
    height: auto;
    border-radius: 10px;
}

.product-details {
    width: 900px;
    padding-left: 20px;
    font-family: 'Playfair Display', serif;
    color: #5a4b3c;
}

.product-details h3 {
    margin-top: 0;
    font-size: 28px;
}

.product-details p {
    font-size: 18px;
    line-height: 1.5;
}
.about-item 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f5f0;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.about-item img
 {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.about-details {
    width: 50%;
    padding-left: 20px;
    font-family: 'Playfair Display', serif;
    color: #5a4b3c;
}

.about-details h2 
{
    margin-top: 0;
    font-size: 28px;
}

.about-details p 
{
    font-size: 18px;
    line-height: 1.5;
}


